.bg-slider {
  height: 80vh;
}

@media (min-width: 768px) {
  .bg-slider {
    position: relative;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    background-position: right, center;
    background-color: #EBEBEB;
    width: 100%;
    height: 60vh;
    max-height: 950px;
  }
}

@media (min-width: 1024px) {
  .bg-slider {
    max-height: 600px;
  }
}

@media (min-width: 1280px) {
  .bg-slider {
    height: 80vh;
    max-height: 900px;
  }
}

@media (min-width: 1440px) {
  .bg-slider {
    max-height: 950px;
  }
}